body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color:#002147;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.product, .cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
}

.product img, .cart-item img {
    width: 100px;
    margin-right: 20px;
    border-radius: 8px;
}

button {
    background-color: #002147;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #002147;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
}
